<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TRANG CHỦ v</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/style/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/style/main2.css}">
	<link rel="stylesheet" th:href="@{/style/main1.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
	<th:block th:include="@{/header.html}"></th:block>
	<div class="container ">
		<div class="modal_black ">
		</div>

		<div class="row tm-row">
			<div class="col-12">
				<hr class="tm-hr-primary">
				<video width="954" height="535" controls class="tm-mb-40">
					<source th:src="@{post.video}" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="row tm-row">
			<div class="tm-post-col">
				<div class="tm-post-full" style="max-width: none;">
					<div class="mb-4" style="padding-left: 15px;">
						<h2 class="pt-2 tm-color-primary tm-post-title" th:text="${post.tieude}">Single Post of Xtra Blog HTML Template</h2>
						<p class="tm-mb-40">
							<th:block th:text="${post.date}">
							</th:block>
							posted by
							<th:block th:text="${post.user.username}">
							</th:block>
						</p>
						
						<p>
							<th:block th:each="list: ${post.noidungs}">
								<th:block th:text="${list}">
								</th:block>
								<br>
							</th:block>
							
						</p>
						<form th:action="@{/blog/manager/back}" style="width: 100px;" class="d-block text-right tm-color-primary"><button
								class="btn-order ">Quay lại</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>

	<th:block th:include="@{/footer.html}"></th:block>
	
</body>

</html>