<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TRANG CHỦ v</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" th:href="@{/style/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/style/main2.css}">
	<link rel="stylesheet" th:href="@{/style/main1.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
	<th:block th:include="@{/header.html}"></th:block>
	<div class="container">
		<div class="row tm-row">
			<div class="col-12">
				<hr class="tm-hr-primary  tm-mb-55">
			</div>
			<div class="tm-person-col" style="max-width: none;">
				<div class="media tm-person" style="max-width: none;">
					<img th:src="${user.anh}" alt="Image" class="img-fluid mr-4">
					<div class="media-body">
						<h2 class="tm-color-primary tm-post-title mb-2" th:text="${user.ten}"></h2>
						<h3 class="tm-h3 mb-3" th:text="${user.username}"></h3>
						<p class="mb-0 tm-line-height-short" th:text="${user.gioithieu}">
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="grid ">
			<div class="grid__row ">
				<div class="wrapper ">
					<div id="page-wrapper ">
						<div id="page-inner ">
							<div class="row ">
								<h1 class="cart-heading ">Các bài Post</h1>
							</div>


							<div class="row ">
								<div style="width:100%;">

									<div class="cart-detail">
										<table class="cart-table">
											<thead class="cart-table-head">
												<th:block
													th:unless="${session.user!=null and session.user.id == user.id}">
													<th style="width: 15%; padding-left: 10px;">Thể loại</th>
													<th style="width: 10%; padding-left: 10px;">Hình ảnh</th>
													<th style="width: 27%; padding-left: 10px;">Tiêu đề</th>
													<th style="width: 12%;padding-left: 10px;">Ngày đăng</th>
													<th id="type" style="width: 12%; padding-left: 10px;">Lượt xem</th>
													<th id="type" style="width: 12%; padding-left: 10px;">Lượt like</th>
													<th id="type" style="width: 12%; padding-left: 10px;">Bình luận</th>
												</th:block>

												<th:block th:if="${session.user!=null and session.user.id == user.id}">
													<th style="width: 15%; padding-left: 10px;">Thể loại</th>
													<th style="width: 10%; padding-left: 10px;">Hình ảnh</th>
													<th style="width: 27%; padding-left: 10px;">Tiêu đề</th>
													<th style="width: 12%;padding-left: 10px;">Ngày đăng</th>
													<th id="type" style="width: 10%; padding-left: 10px;">Lượt xem</th>
													<th id="type" style="width: 10%; padding-left: 10px;">Lượt like</th>
													<th id="type" style="width: 10%; padding-left: 10px;">Bình luận</th>
													<th id="type" style="width: 6%; padding-left: 10px;"></th>
												</th:block>
											</thead>
											<tbody>
												<th:block th:each="post: ${posts}">

													<tr class="cart-table-tr"
														style="min-height: 70px; line-height: 1.2rem;">
														<td>
															<div class="cart-product">
																<div class="cart-product-link">
																	<span class="cart-product-link-name"
																		style="color:var(--black-color)">Thể
																		loại:</span>
																	<span id="name" class="cart-product-name"
																		style="color:var(--black-color)"
																		th:text="${post.linhvuc}"></span>
																</div>
															</div>
														</td>

														<td class="cart-table-td-img">
															<div class="cart-product-img">
																<img th:src="${post.anh}" style="width: 60px; ">
															</div>
														</td>

														<td class="cart-table-td">
															<div class="cart-product">
																<div class="cart-product-link">
																	<span class="cart-product-link-name"
																		style="color:var(--black-color)">Tiêu đề:</span>
																	<!--<span id="username" class="cart-product-name"
																		style="color:var(--black-color)"
																		th:text="${post.tieude}"></span>-->
																	<a th:href=@{|/post/${post.id}|} id="username"
																		class="cart-product-name"
																		style="color:var(--black-color)"
																		th:text="${post.tieude}"></a>
																</div>
															</div>
														</td>
														<td>
															<div class="cart-product">
																<div class="cart-product-link">
																	<span class="cart-product-link-name"
																		style="color:var(--black-color)">Ngày
																		đăng:</span>
																	<span id="password" class="cart-product-name"
																		style="color:var(--black-color)"
																		th:text="${post.date}"></span>
																</div>
															</div>
														</td>
														<td>
															<div class="cart-product-price-nth">
																<span id="type" class="cart-product-price-nth-link">Lượt
																	xem:</span>
																<div id="email" class="cart-product-price"
																	th:text="${post.luotxem}">
																</div>
															</div>
														</td>
														<td>
															<div class="cart-product-price-nth">
																<span id="type" class="cart-product-price-nth-link">Lượt
																	like:</span>
																<div id="email" class="cart-product-price"
																	th:text="${post.luotthich}">
																</div>
															</div>
														</td>
														<td>
															<div class="cart-product-price-nth">
																<span id="type" class="cart-product-price-nth-link">Bình
																	luận:</span>
																<div id="email" class="cart-product-price"
																	th:text="${post.binhluan}">
																</div>
															</div>
														</td>
														<th:block
															th:if="${session.user!=null and session.user.id == user.id}">
															<td class=" cart-table-td ">
																<form th:action="@{|/xoapost/${post.id}|}" method="post"
																	class=" cart-icon ">
																	<input type="hidden" name="iduser"
																		th:value="${post.user.id}">
																	<button style="border: none;background: none;"><i
																			id="xoa"
																			class=" fa fa-close cart-product-remove "></i></button>
																</form>
															</td>
														</th:block>

													</tr>
												</th:block>

												<tr class="row-last">
													<td colspan="8"
														style="text-align:unset; border-bottom: 2px solid var(--border-color);">
														<ul class="pag-list "
															style="justify-content: center; margin-top:15px">


															<li class="pag-list-item ">
																<a th:href="@{|/account/detail/${user.id}/page/${current-1}|}"
																	class="pag-item__link ">
																	<i class="pag__link-icon fas fa-angle-left "></i>
																</a>
															</li>
															<th:block th:each="item : ${#numbers.sequence(begin,end)}">
																<th:block th:if="${current == item}">
																	<li class="pag-list-item ">
																		<a th:href="@{|/account/detail/${user.id}/page/${item}|}"
																			class="pag-item__link pag-item__link-active"
																			th:text="${item}"></a>
																	</li>
																</th:block>
																<th:block th:unless="${current == item}">
																	<li class="pag-list-item ">
																		<a th:href="@{|/account/detail/${user.id}/page/${item}|}"
																			class="pag-item__link"
																			th:text="${item}"></a>
																	</li>
																</th:block>
															</th:block>
															<li class="pag-list-item ">
																<a th:href="@{|/account/detail/${user.id}/page/${current+1}|}"
																	class="pag-item__link ">
																	<i class="pag__link-icon fas fa-angle-right "></i>
																</a>
															</li>

														</ul>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<th:block th:include="@{/footer.html}"></th:block>
	<script th:src="@{/js/index.js}">
		manager('.cart-heading-button', 'Add User', 'Edit User')
	</script>
	<script>
		xoapost('#xoa');
	</script>
</body>

</html>