<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TRANG CHỦ v</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/style/main2.css}">
	<link rel="stylesheet" th:href="@{/style/main1.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
	<th:block th:include="@{/header.html}"></th:block>
	<div class="container-fluid" style="width: 95%;">
		<main class="tm-main" style="padding: 20px 10px 25px;">
			<div class="row tm-row" style="display:flex">
				<div class="col-8">

					<iframe width="800" height="415" th:src="${post.video}" title="YouTube video player" frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen style="transform: scale(1.0);" class="tm-mb-40"></iframe>

					<div class="row tm-row">
						<div class="col-lg-14 tm-post-col" style="width:100%">
							<div>
								<div class="mb-4">
									<h2 class="pt-2 tm-color-primary tm-post-title" th:text="${post.tieude}"></h2>
									<p class="tm-mb-40">
										<th:block th:text="${post.Date}"></th:block> posted by
										<a style="color:#999" th:href="@{|/account/detail/${post.user.id}|}"
											th:text="${post.user.username}"> </a>
									</p>
									<!--<p th:text="${post.noidung}">

									</p>-->
									<th:block th:each="noidung : ${post.noidungs}">
										<p th:text="${noidung}">
										</p>
									</th:block>
									<span id="idpost" style="display:none" th:text="${post.id}">
									</span>
								</div>

								<div class="facebooke-like">
									<button class="like-button" onclick="abc()">
										<i class="fa-solid fa-check" id="icon-oke" style="color:white ;"></i>
										<i class="fa-solid fa-thumbs-up" id="icon-like" style="color:white ;"></i>
										Like
										<span id="like" th:text="${post.luotthich}"></span>
									</button>
									<button class="like-button" style="margin-left: 10px;">Chia sẻ</button>
								</div>

								<!-- Comments -->
								<div style="width: 98%;">
									<h2 class="tm-color-primary tm-post-title">Comments</h2>
									<hr class="tm-hr-primary tm-mb-45">
									<span th:if="${comments.isEmpty}">Không có bình luận nào</span>
									<th:block th:each="comment : ${comments}">

										<div class="tm-comment tm-mb-45">
											<figure style="min-width: 100px;">
												<img th:src="${comment.user.anh}" alt="Image"
													class="rounded-circle img-thumbnail"
													style="width: 70px ; height:70px; display:block ; margin-right: 5px;">
												<figcaption class="tm-color-primary text-center" style="text-align: left!important;"
													th:text="${comment.user.username}"></figcaption>
											</figure>
											<div id="parent" style="width:100%">
												<p th:text="${comment.noidung}">
												</p>
												<div style="width:100%;display:inline-block">
													<span
														th:if="${session.user!=null and comment.user.id!=session.user.id}"
														class="tm-color-primary" style="cursor: pointer; float:left;"
														onclick="replay(this)">REPLY</span>
													<span class="tm-color-primary" th:text="${comment.date}" style="float: right;"></span>
												</div>
												<form th:action="@{/post/postReply}" method="post" id="replay">
													<div style="display: flex ;">
														<img th:if="${session.user!=null}" th:src="${session.user.anh}"
															alt="Image" class="rounded-circle img-thumbnail"
															style="width: 70px ; height:70px; display:block ; margin-right: 5px;">
														<textarea rows="4" name="comment"
															style="width: 100%;padding-left: 10px;font-size: 1rem;"
															placeholder="Nhập ý kiến của bạn"></textarea>
														<input type="hidden" name="idcomment" th:value="${comment.id}">
														<input type="hidden" name="idpost" th:value="${comment.idpost}">
													</div>
													<button class="replay-comment"
														style="padding: 5px 12px;">POST</button>
												</form>
											</div>
										</div>


										<th:block th:each="commentreply: ${comment.commentReplys}">
											<div class="tm-comment-reply tm-mb-45">
												<hr>
												<div class="tm-comment">
													<figure class="" style="min-width:120px;">
														<img th:src="${commentreply.user.anh}" alt="Image"
															class="rounded-circle img-thumbnail"
															style="width: 70px ; height:70px; display:block ; margin-right: 5px;">
														<figcaption class="tm-color-primary text-center" style="text-align: left!important;"
															th:text="${commentreply.user.username}">
														</figcaption>
													</figure>
													<div style="width:100%;">
														<p th:text="${commentreply.noidung}">
														</p>
														<span class="d-block text-right tm-color-primary"
															th:text="${commentreply.date}" style="float: right;"></span>
													</div>
												</div>
											</div>
										</th:block>
									</th:block>


									<th:block th:if="${quyen==null}">
										<form th:action="@{/post/comment}" method="post" class="mb-5"
											style="width:100%">
											<h2 class="tm-color-primary tm-post-title">Your comment</h2>
											<div style="margin-bottom: 10px;">
												<textarea class="form-control" name="comment" rows="6"
													style="line-height: 1.15rem;"></textarea>
												<input type="hidden" name="idpost" th:value="${post.id}">
											</div>
											<div class="text-right">
												<button class="tm-btn tm-btn-primary tm-btn-small"
													style="font-size: 1.1rem; padding-left: 12px; padding-right: 12px;">Submit</button>
											</div>
										</form>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</div>
				<aside class="col-lg-4 tm-aside-col">
					<div class="tm-post-sidebar">
						<div class="post-border">
							<h2 class="mb-4 tm-post-title tm-color-primary">Thể loại món ăn</h2>
							<ul class="pl-5 tm-category-list">
								<th:block th:each="linhvuc : ${linhvucs}">
									<li><a th:href="@{/filter(linhvuc=${linhvuc})}" class="tm-color-primary"
											th:text="${linhvuc}"></a></li>
								</th:block>
							</ul>
						</div>

						<div class="post-border" style="margin-top: 20px;">
							<h2 class="tm-mb-40 tm-post-title tm-color-primary">Posts Liên quan</h2>
							<th:block th:each="postItem : ${posts}">
								<a th:href="@{|/post/${postItem.id}|}" class="d-block tm-mb-40">
									<figure>
										<img th:src="${postItem.anh}" alt="Image" class="mb-3 img-fluid" style="display: block; height:188px;width: 100%;">
										<figcaption class="tm-color-primary" th:text="${postItem.tieude}">
										</figcaption>
									</figure>
								</a>
							</th:block>
						</div>
					</div>
				</aside>
			</div>

		</main>
	</div>
	<th:block th:include="@{/footer.html}"></th:block>
	<script>
		var ok = 1;
		var check = 1;

		function abc() {
			var idpost = document.querySelector("#idpost").innerHTML;
			if (ok == 1) {
				setTimeout(function () {
					document.querySelector("#icon-oke").style = "display: contents";
					document.querySelector("#like").innerHTML = Number(document.querySelector("#like").innerHTML) + 1;
				}, 300);
				document.querySelector("#icon-like").style = "display: none";
				$.ajax({
					type: "post",
					url: "http://localhost:8080/post/like+",
					data: {
						idpost: idpost
					},
					success: function () {
					}
				});
				ok = 0;
			} else {
				setTimeout(function () {
					document.querySelector("#icon-like").style = "display: contents";
					if (Number(document.querySelector("#like").innerHTML) > 0) {
						document.querySelector("#like").innerHTML = Number(document.querySelector("#like").innerHTML) - 1;
					}
				}, 300)
				$.ajax({
					type: "post",
					url: "http://localhost:8080/post/like-",
					data: {
						idpost: idpost
					},
					success: function () {
					}
				});
				document.querySelector("#icon-oke").style = "display: none;";
				ok = 1;
			}
		}

		function replay(event) {
			
			function getParent(element, selector) {
	
				while (element.parentElement) {
					if (element.parentElement.matches(selector)) {
						return element.parentElement;
					}
					element = element.parentElement;
				}
			}
			var parent = getParent(event,"#parent")

			if (check == 0) {
				var list = document.querySelectorAll("#replay")
				for(var item of list){
					item.style = "display: none";
				}
				parent.querySelector("#replay").style = "display: block";
				check = 1;
			} else {
				parent.querySelector("#replay").style = "display: none";
				check = 0;
			}
		}



	</script>
</body>

</html>